@tailwind base;
@tailwind components;
@tailwind utilities;

/* tailwindComponents.css */
:root {
  /* Primary (Navy) Adjustments */
  --primary-color: 0, 0, 128; /* Navy */
  --primary-color-text: 255, 255, 255; /* White text on navy background */
  --secondary-color: 255, 0, 0; /* Red */
  --primary-50: 230 236 255; /* Lightest Navy */
  --primary-100: 198 208 255;
  --primary-200: 166 180 255;
  --primary-300: 134 152 255;
  --primary-400: 102 124 255;
  --primary-500: 70 96 255; /* Medium Navy */
  --primary-600: 38 68 255;
  --primary-700: 20 52 204;
  --primary-800: 15 40 153;
  --primary-900: 10 28 102;
  --primary-950: 5 14 51; /* Darkest Navy */

  /* Surface Adjustments */
  --surface-0: 255 255 255; /* White */
  --surface-50: 248 245 250 1;
  --surface-100: 241 235 245 1;
  --surface-200: 233 225 240 1;
  --surface-300: 225 215 235 1;
  --surface-400: 217 205 230 1;
  --surface-500: 209 195 225 1;
  --surface-600: 201 185 220 1;
  --surface-700: 193 175 215 1;
  --surface-800: 185 165 210 1;
  --surface-900: 177 155 205 1;
  --surface-950: 169 145 200 1; /* Darkest Shade */
}